.colorError {
    border-color: #dc3545 !important;
}

.colorSuccess {
    border-color: #198754 !important;
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


.modal-lg {
    max-width: 80%;
}

.form-control {
    font-size: 12px !important;
}

.btn-yelolow {
    color: #00466f;
    background-color: rgb(251 233 15);
    border-color: rgb(251 233 15);
    font-weight: bolder;
}

.triangle-border {
    position: relative;
    padding: 8px;
    margin: 1em 0 3em;
    border: 3px solid #585858;
    color: #333;

    /* css3 */
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.triangle-message-border {
    position: relative;
    margin: 1em 0 1em;
    border: 1px solid #e2dddd;
    color: #333;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 0px;
}

.p-message-p{
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bolder;
    font-size: 20px
}


.modal-content{
    background-image: url("../img/bg.png");
    background-size: 100% 100%;
    color: white!important;
    background-repeat: no-repeat;
}

.triangle-border{
    background-image: url("../img/bg.png");
    background-size: 100% 100%;
    color: white!important;
    background-repeat: no-repeat;
}


h6, h1, p{
    color: white!important;
}


#alertMessage{
    font-size: 12px;
}

.alert {
    padding: 1px 1px;
}

.modal-body{
    padding: 3rem;
    border-radius: 1.3rem;
}

